:root {
  --primary-color: #4c6375;
  --hover-color: #ff0000;
  --background-color: #ffffe3;
  --dark-text: #333;
  --light-text: #ffffff;
  --border-radius-small: 5px;
  --border-radius-medium: 10px;
  --font-family-sans: "Raleway", sans-serif;
  --font-family-mono: "Courier Prime", monospace;
}

@import url("https://fonts.googleapis.com/css2?family=Gasoek+One&family=Gentium+Book+Plus&family=Open+Sans:wght@300&family=Raleway&family=Courier+Prime&display=swap");

body {
  background-color: var(--background-color);
  color: var(--dark-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  overflow-y: scroll;
  padding-top: 3%;
  margin: 0;
  transition: transform 1.5s; /* Adjust the duration as needed */
}

.flip {
  transform: rotate(180deg);
}


h1 {
  font-size: 3em;
  letter-spacing: 5px;
  font-family: var(--font-family-sans);
  color: var(--primary-color);
}

h1:hover {
  color: var(--hover-color);
  font-style: italic;

}

.SMN_effect-67 a {
	position: relative;
}

.SMN_effect-67 a:after {
	content: attr(data-hover);
	position: absolute;
	left: 2px;
	text-shadow: -1px 0 red;
	top: 0;
	color: #fff;
	background: #353535;
	overflow: hidden;
	padding: 15px 25px;
	clip: rect(0, 900px, 0, 0);
}

.SMN_effect-67 a:before {
	content: attr(data-hover);
	padding: 15px 25px;
	position: absolute;
	left: -2px;
	text-shadow: 1px 0 blue;
	top: 0;
	color: #fff;
	background: #353535;
	overflow: hidden;
	clip: rect(0, 900px, 0, 0);
}

.SMN_effect-67 a:hover:before {
	animation: noise-anim-2 3s infinite linear alternate-reverse;
}

.SMN_effect-67 a:hover:after {
	animation: noise-anim 2s infinite linear alternate-reverse;
}

h3, h2 {
  font-family: var(--font-family-mono) !important;
}

.container {
  display: flex;
  align-items: center;
  margin-bottom: 2%;
}

.logo img {
  width: 64px;
  height: auto;
  border-radius: 50%;
  padding: 10px;
}

.content {
  margin: 30px auto;
  background-color: var(--background-color);
  padding: 30px;
  border-radius: var(--border-radius-medium);
  max-width: 900px;
}

.search-form {
  max-width: 200px;
  display: flex;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius-small);
  overflow: hidden;
  padding: 10px;
}

.search-form input,
.search-form button {
  border: none;
  padding: 10px 15px;
  border-radius: var(--border-radius-small);
  outline: none;
}

.search-form button {
  background-color: var(--primary-color);
  cursor: pointer;
  color: var(--light-text);
}

.search-form button:hover {
  background-color: var(--hover-color);
}

.w3-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #d2b48c;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.w3-sidebar h2 {
  color: var(--primary-color);
  font-size: 24px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.w3-sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

.w3-sidebar nav li {
  margin-bottom: 15px;
}

.w3-sidebar nav a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.w3-sidebar nav a:hover {
  color: var(--hover-color);
}

.w3-sidebar .category {
  margin-top: 20px;
}

.w3-sidebar .category h3 {
  color: var(--primary-color);
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

#dekningskart {
  height: 900px;
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.iframeblock .i-frame-block-container {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
  margin-top: 30px;
}

.iframeblock .i-frame-block-container:hover {
  filter: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  font-weight: 600;
  padding: 5px 10px;
  transition: all 0.3s ease;
  color: var(--primary-color);
}

a:hover {
  background-color: var(--hover-color);
  color: var(--light-text);
}

@media (max-width: 768px) {
  .search-form input {
    width: 100%;
  }

  .form-container {
    flex-direction: column;
    gap: 10px;
  }

  .search-form {
    max-width: 100%;
  }
}


.slider {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
  margin: auto;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide p {
  width: 600px;
  background-color: #ffffc0;
}

#slide1 {
  opacity: 1;
}

buttonSlide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--background-color);  border: none;
  padding: 10px;
  cursor: pointer;
}

#prev {
  left: 10px;
}

#next {
  right: 10px;
}


.toolbar {
  background-color: #7d8673;
  padding: 10px;
  color: white;
  overflow: auto;
}
.editor {
  width: 100%;
  min-height: 500px;
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
  margin: 15px 0;
  border-radius: 8px;
}
button {
  background-color: transparent;
  color: white;
  border: none;
  margin-right: 10px;
  cursor: pointer;
  font-size: 16px;
}
button:hover,
button.active {
  color: #ff0000;
}

.artikler-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  text-align: center; /* Center text within the container */
}

.header-button-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  text-align: center; /* Center text within the container */
}

.hidden-list {
  display: none;
  transition: max-height 2.5s ease-in-out;
}
/* Align links to the left */


.hidden-list.visible {
  display: block;
}

.hidden-list h2 {
  font-size: 1.5rem;
}

.header h3 {
  background-color: #ffffc0; /* Replace with your desired background color */
}

.header ul li {
text-align: left;
}


#show-more-button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;


}

#show-more-button:hover {
  background-color: var(--hover-color);

}



.SMN_effect-67 a {
	position: relative;
}

.SMN_effect-67 a:after {
	content: attr(data-hover);
	position: absolute;
	left: 2px;
	text-shadow: -1px 0 red;
	top: 0;
	color: #fff;
	background: #353535;
	overflow: hidden;
	padding: 15px 25px;
	clip: rect(0, 900px, 0, 0);
}

.SMN_effect-67 a:before {
	content: attr(data-hover);
	padding: 15px 25px;
	position: absolute;
	left: -2px;
	text-shadow: 1px 0 blue;
	top: 0;
	color: #fff;
	background: #353535;
	overflow: hidden;
	clip: rect(0, 900px, 0, 0);
}

.SMN_effect-67 a:hover:before {
	animation: noise-anim-2 3s infinite linear alternate-reverse;
}

.SMN_effect-67 a:hover:after {
	animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim {
	0% {
		clip: rect(12px, 9999px, 45px, 0);
	}
	5% {
		clip: rect(83px, 9999px, 35px, 0);
	}
	10% {
		clip: rect(32px, 9999px, 20px, 0);
	}
	15% {
		clip: rect(38px, 9999px, 37px, 0);
	}
	20% {
		clip: rect(2px, 9999px, 82px, 0);
	}
	25% {
		clip: rect(72px, 9999px, 52px, 0);
	}
	30% {
		clip: rect(42px, 9999px, 86px, 0);
	}
	35% {
		clip: rect(78px, 9999px, 17px, 0);
	}
	40% {
		clip: rect(75px, 9999px, 99px, 0);
	}
	45% {
		clip: rect(91px, 9999px, 39px, 0);
	}
	50% {
		clip: rect(83px, 9999px, 13px, 0);
	}
	55% {
		clip: rect(36px, 9999px, 88px, 0);
	}
	60% {
		clip: rect(38px, 9999px, 50px, 0);
	}
	65% {
		clip: rect(39px, 9999px, 58px, 0);
	}
	70% {
		clip: rect(15px, 9999px, 75px, 0);
	}
	75% {
		clip: rect(69px, 9999px, 45px, 0);
	}
	80% {
		clip: rect(10px, 9999px, 30px, 0);
	}
	85% {
		clip: rect(99px, 9999px, 3px, 0);
	}
	90% {
		clip: rect(3px, 9999px, 9px, 0);
	}
	95% {
		clip: rect(42px, 9999px, 67px, 0);
	}
	100% {
		clip: rect(28px, 9999px, 61px, 0);
	}
}

@keyframes noise-anim-2 {
	0% {
		clip: rect(55px, 9999px, 11px, 0);
	}
	5% {
		clip: rect(53px, 9999px, 93px, 0);
	}
	10% {
		clip: rect(22px, 9999px, 87px, 0);
	}
	15% {
		clip: rect(16px, 9999px, 72px, 0);
	}
	20% {
		clip: rect(16px, 9999px, 34px, 0);
	}
	25% {
		clip: rect(24px, 9999px, 48px, 0);
	}
	30% {
		clip: rect(16px, 9999px, 44px, 0);
	}
	35% {
		clip: rect(24px, 9999px, 32px, 0);
	}
	40% {
		clip: rect(54px, 9999px, 55px, 0);
	}
	45% {
		clip: rect(61px, 9999px, 61px, 0);
	}
	50% {
		clip: rect(38px, 9999px, 62px, 0);
	}
	55% {
		clip: rect(16px, 9999px, 31px, 0);
	}
	60% {
		clip: rect(63px, 9999px, 86px, 0);
	}
	65% {
		clip: rect(91px, 9999px, 27px, 0);
	}
	70% {
		clip: rect(6px, 9999px, 1px, 0);
	}
	75% {
		clip: rect(13px, 9999px, 52px, 0);
	}
	80% {
		clip: rect(3px, 9999px, 81px, 0);
	}
	85% {
		clip: rect(62px, 9999px, 96px, 0);
	}
	90% {
		clip: rect(1px, 9999px, 26px, 0);
	}
	95% {
		clip: rect(41px, 9999px, 83px, 0);
	}
	100% {
		clip: rect(6px, 9999px, 9px, 0);
	}
}



